@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
@import url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css);
@import url(https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
figure,
button,
figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

@keyframes blinkDot {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Pretendard Variable", Pretendard;
  word-spacing: 0.01em;
}

figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-header {
  border-bottom: 1px solid #ddd;
}
.main-header .main-header-wrap {
  position: relative;
  min-width: 1200px;
  width: 1200px;
  margin: 0 auto;
}
.main-header .main-logo {
  position: absolute;
  top: 16px;
}
.main-header .main-logo a > img {
  width: 64px;
  height: 77px;
}
.main-header nav {
  display: flex;
  justify-content: flex-end;
}
.main-header nav > ul {
  display: flex;
  align-items: center;
}
.main-header .general-nav {
  min-width: 300px;
  line-height: 48px;
}
.main-header .general-nav a {
  padding: 0 7px;
  font-size: 14px;
  font-weight: 400;
  color: #666;
  vertical-align: top;
}
.main-header .news-nav {
  height: 60px;
}
.main-header .news-nav a {
  padding-left: 13.5px;
  padding-right: 13.5px;
  line-height: 44px;
  font-size: 17px;
  font-weight: 500;
  color: #111;
  vertical-align: top;
}
.main-header .news-nav a .hk-color {
  top: -0.5em;
  left: -0.3em;
  color: #02a37f;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.main-header .news-nav .item-search {
  margin-left: 14px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f2f2f2;
}
.main-header .news-nav .item-search > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;
  line-height: normal;
}
.main-header .news-nav .item-hamburger {
  margin-left: 14px;
  width: 40px;
  height: 40px;
}
.main-header .news-nav .item-hamburger > button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;
  line-height: normal;
}

footer {
  border-top: 2px solid #111;
  margin-top: 96px;
  padding-bottom: 94px;
}
footer .footer-wrap {
  min-width: 1200px;
  width: 1200px;
  margin: 0 auto;
  padding-top: 30px;
}
footer .footer-wrap address {
  margin-top: 27px;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.5px;
  color: #999;
}
footer .footer-wrap address span {
  margin-right: 20px;
}
footer .footer-wrap address p {
  margin-top: 10px;
}
footer .footer-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-nav .dropdown {
  width: 160px;
  padding: 14px 15px 15px;
  color: #111;
  border: 1px solid #666;
  background: #fff url(../image/arrow-family-dn.svg) 143px 50% no-repeat;
  background-position: 131px 50%;
  cursor: pointer;
}
footer .footer-nav ul {
  display: flex;
}
footer .footer-nav ul li a {
  margin-right: 6px;
  font-family: "Pretendard Variable";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.01em;
  word-spacing: 0.02em;
  line-height: 1.125;
}
footer .footer-nav ul li:not(li:last-of-type)::after {
  content: " ";
  display: inline-block;
  width: 1px;
  height: 10px;
  margin-right: 6px;
  border-right: 1px solid #e2e2e2;
}

.arti {
  display: flex;
  margin: 0 auto;
  width: 1200px;
  justify-content: space-between;
}
.arti .arti-header {
  display: flex;
  justify-content: space-between;
  padding: 16px 0 20px;
  width: 100%;
}
.arti .arti-header h2 {
  display: flex;
  line-height: 20px;
  font-size: 21px;
  font-weight: 400;
  color: #111;
}
.arti .arti-header a {
  margin-left: auto;
  font-size: 14px;
  font-weight: 400;
  color: #999;
}

.arti.artifull {
  width: 100%;
  justify-content: center;
  background: #f5f6f8;
}

.arti.arti3section {
  display: flex;
  gap: 50px;
  margin-top: 64px;
}
.arti.arti3section .section-header {
  display: flex;
  justify-content: space-between;
  padding: 18px 0 20px;
  border-top: 1px solid #111;
}
.arti.arti3section .section-header h2 {
  line-height: 1.24;
  font-size: 21px;
  font-weight: 400;
  color: #111;
}
.arti.arti3section .section-header button {
  background-image: url(../image/tooltip-info.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.para {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: justify;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  color: #666;
}

.main-journal {
  width: 840px;
}
.main-journal .main-journal-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}
.main-journal .main-journal-control > ul > li a {
  width: calc(100% - 30px);
  font-size: 13px;
  font-weight: 400;
  line-height: 1.23;
  color: #111;
  word-spacing: 0.02em;
  text-decoration: none;
  vertical-align: middle;
}
.main-journal .main-journal-control > ul > li a > span {
  display: inline-block;
  width: 30px;
  text-align: left;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.23;
  color: #003629;
  word-spacing: 0.02em;
  text-align: center;
}
.main-journal .main-journal-control > ul > li:nth-of-type(1) {
  display: none;
}
.main-journal .main-journal-control > ul > li:nth-of-type(3) {
  display: none;
}
.main-journal .main-journal-control > button {
  display: flex;
  padding-right: 20px;
  font-size: 13px;
  font-weight: 500;
  color: #999;
  background: url(../image/icon-setting-line.svg) no-repeat top 1px right;
  background-size: 12px;
}
.main-journal .topic-nav .topic-nav-list {
  display: flex;
  height: 50px;
  border-bottom: 1px solid #111;
}
.main-journal .topic-nav .topic-nav-list > li {
  flex: none;
  margin-bottom: -1px;
  width: 12.5%;
  height: 100%;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
.main-journal .topic-nav .topic-nav-list > li h2 {
  height: 100%;
}
.main-journal .topic-nav .topic-nav-list > li button {
  width: 100%;
  height: 100%;
  font-family: "Pretendard Variable";
  font-size: 15px;
  font-weight: 700;
  color: #111;
  text-align: center;
  background: #fff;
  cursor: pointer;
}
.main-journal .topic-nav .topic-nav-list > li:last-of-type {
  border-right: 1px solid #ddd;
}
.main-journal .adbox {
  background-color: #666;
  height: 90px;
  padding-top: 0;
  margin: 40px auto;
  text-align: center;
}

.sect-one-aside {
  width: 320px;
}
.sect-one-aside .aside-special {
  background-color: #666;
  width: 100%;
  height: 90px;
  border-bottom: 1px solid #111;
}
.sect-one-aside .aside-special.issue-special {
  background-color: #666;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #111;
}

.special-issue-wrap.issue-b-type {
  height: 583px;
  flex-direction: row;
}
.special-issue-wrap.issue-b-type .special-issue-top {
  display: flex;
  margin-top: 26px;
}
.special-issue-wrap.issue-b-type .special-issue-main {
  flex-direction: column;
  align-items: center;
  gap: 0;
  width: 840px;
}
.special-issue-wrap.issue-b-type .special-issue-main figure {
  width: 100%;
  height: 296px;
}
.special-issue-wrap.issue-b-type .special-issue-main h4 {
  margin: 19px 0 12px;
}
.special-issue-wrap.issue-b-type .special-issue-main .para {
  margin: 12px 0 0 0 0;
}
.special-issue-wrap.issue-b-type .special-issue-sub {
  display: flex;
  justify-content: space-between;
  width: 840px;
  margin-top: 8px;
  margin-right: 20px;
}
.special-issue-wrap.issue-b-type .special-issue-sub article {
  align-items: center;
  width: 398px;
  gap: 0;
}
.special-issue-wrap.issue-b-type .special-issue-sub article > div {
  margin-left: 14px;
}
.special-issue-wrap.issue-b-type .special-issue-sub article h5 {
  display: -webkit-box;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.47;
  color: #111111;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.special-issue-wrap.issue-b-type .special-issue-sub article .para {
  font-size: 14px;
  line-height: 1.57;
}
.special-issue-wrap.issue-b-type .special-issue-sub article figure {
  flex-shrink: 0;
  width: 142px;
  height: 95px;
}
.special-issue-wrap.issue-b-type .related-article-list {
  position: relative;
  margin-left: 20px;
}
.special-issue-wrap.issue-b-type .related-article-list::before {
  content: "";
  display: block;
  position: absolute;
  height: 528px;
  top: 0px;
  left: -20px;
  width: 1px;
  background-color: #CCCCCC;
}
.special-issue-wrap.issue-b-type .related-article-list li {
  padding-bottom: 10px;
}
.special-issue-wrap.issue-b-type .related-article-list li figure {
  display: none;
}
.special-issue-wrap.issue-b-type .related-article-list li .para {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 400;
  -webkit-line-clamp: 2;
}
.special-issue-wrap.issue-b-type .related-article-list li h5 {
  display: -webkit-box;
  overflow: hidden;
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.special-issue-wrap.issue-b-type .related-article-list li:not(li:first-of-type) {
  border-top: 1px solid #CCCCCC;
  padding-top: 14px;
}
.special-issue-wrap.issue-b-type .related-article-list li:nth-of-type(n+1):nth-of-type(-n+2) > div {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 12px;
}
.special-issue-wrap.issue-b-type .related-article-list li:nth-of-type(n+1):nth-of-type(-n+2) h5 {
  margin-right: 20px;
}
.special-issue-wrap.issue-b-type .related-article-list li:nth-of-type(n+1):nth-of-type(-n+2) figure {
  flex-shrink: 0;
  width: 110px;
  height: 73px;
  display: block;
}
.special-issue-wrap.issue-b-type .related-article-list li:nth-of-type(n+3):nth-of-type(-n+4) h5 {
  -webkit-line-clamp: 2;
}

.special-issue-wrap {
  position: absolute;
  width: 100%;
  margin-top: 15px;
  left: 0;
  height: 560px;
  background-color: #F5F6F8;
}

.special-issue-top {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
.special-issue-top h4 {
  text-align: center;
  font-size: 32px;
  line-height: 1.375;
  margin-top: 26px;
  margin-bottom: 23px;
}
.special-issue-top article {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}
.special-issue-top article .para {
  margin-top: 10px;
  -webkit-line-clamp: 2;
  line-height: 22px;
}
.special-issue-top article figure {
  width: 660px;
  height: 385px;
}
.special-issue-top article .related-article-list {
  width: 493px;
  display: grid;
  grid-template-areas: "main1  main1    main2    main2  " "sub1   sub1     sub1     sub1   " "sub2   sub2     sub2     sub2   " "sub3   sub3     sub3     sub3   " "sub4   sub4     sub4     sub4   ";
}
.special-issue-top article .related-article-list li {
  display: flex;
  flex-direction: column;
}
.special-issue-top article .related-article-list li figure {
  display: none;
  width: 233.21px;
  height: 155.47px;
}
.special-issue-top article .related-article-list li h5 {
  display: -webkit-box;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.44444;
  color: #111111;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.special-issue-top article .related-article-list li:nth-of-type(n+1):nth-of-type(-n+2) {
  height: 214px;
}
.special-issue-top article .related-article-list li:nth-of-type(n+1):nth-of-type(-n+2) figure {
  display: block;
}
.special-issue-top article .related-article-list li:nth-of-type(n+1):nth-of-type(-n+2) h5 {
  margin-top: 11px;
}
.special-issue-top article .related-article-list li:nth-of-type(1) {
  grid-area: main1;
  margin-right: 26px;
}
.special-issue-top article .related-article-list li:nth-of-type(2) {
  grid-area: main2;
}
.special-issue-top article .related-article-list li:nth-of-type(n+3):nth-of-type(-n+6) {
  height: 55px;
  display: flex;
  justify-content: center;
}
.special-issue-top article .related-article-list li:nth-of-type(n+3):nth-of-type(-n+6) h5 {
  -webkit-line-clamp: 1;
}
.special-issue-top article .related-article-list li:nth-of-type(3) {
  grid-area: sub1;
  margin-top: 23px;
  border-bottom: 1px solid #CCCCCC;
}
.special-issue-top article .related-article-list li:nth-of-type(4) {
  grid-area: sub2;
  border-bottom: 1px solid #CCCCCC;
}
.special-issue-top article .related-article-list li:nth-of-type(5) {
  grid-area: sub3;
  border-bottom: 1px solid #CCCCCC;
}
.special-issue-top article .related-article-list li:nth-of-type(6) {
  grid-area: sub4;
}

.main-journal-list.sokbo {
  margin-top: 14.5px;
}

.main-journal-list.issue_special_b {
  margin-top: 598px;
}
.main-journal-list.issue_special_b li:nth-of-type(1) {
  display: none;
}

.main-journal-list.issue_special {
  margin-top: 575px;
}
.main-journal-list.issue_special li:nth-of-type(1) {
  display: none;
}

.main-journal-list {
  display: grid;
  width: 840px;
  margin-top: 24px;
  grid-template-areas: "header    header    header    header" "second-1  third-1   third-1   third-1   " "second-1  third-1   third-1   third-1   " "second-1  third-2   third-2   third-2   " "second-1  third-2   third-2   third-2   " "second-1  third-3   third-3   third-3   " "second-1  third-3   third-3   third-3   " "second-2  fourth-1  fourth-1  fourth-1  " "second-2  fourth-2  fourth-2  fourth-2  " "second-2  fourth-3  fourth-3  fourth-3  " "second-2  fourth-4  fourth-4  fourth-4  " "second-2  fourth-5  fourth-5  fourth-5  " "second-2  fourth-6  fourth-6  fourth-6  ";
}
.main-journal-list > li {
  list-style: none;
  display: flex;
}
.main-journal-list > li h4 {
  display: -webkit-box;
  line-height: 1.29;
  font-size: 34px;
  font-weight: 600;
  color: #111;
  letter-spacing: -0.02em;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.main-journal-list > li p {
  display: none;
  color: #666;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.main-journal-list > li h5 {
  display: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 10px;
  color: #111;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.67;
  position: relative;
}
.main-journal-list > li h5 + h5 {
  padding-top: 0;
}
.main-journal-list > li h5::before {
  content: "";
  display: inline-block;
  margin-right: 6px;
  border-style: solid;
  border-color: #111;
  border-width: 0 0 2px 2px;
  vertical-align: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 8px;
  height: 8px;
}
.main-journal-list > li figure {
  display: none;
}
.main-journal-list > li figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-journal-list li:nth-of-type(1).issue {
  flex-direction: row-reverse;
  align-items: flex-start;
}
.main-journal-list li:nth-of-type(1).issue figure {
  display: block;
  width: 420px;
  height: 240px;
}
.main-journal-list li:nth-of-type(1).issue article {
  margin-top: 25px;
  padding-right: 0;
  margin-left: 19px;
}
.main-journal-list li:nth-of-type(1).issue .para {
  margin-top: 24px;
}
.main-journal-list li:nth-of-type(1).issue h5 {
  display: none;
}
.main-journal-list li:nth-of-type(1).jeonmun {
  background-color: #111111;
  position: relative;
  height: 300px;
  margin-bottom: 20px;
  padding-bottom: 0;
}
.main-journal-list li:nth-of-type(1).jeonmun::after {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -20px;
  position: absolute;
  border-bottom: 1px solid #CCCCCC;
  width: 100%;
}
.main-journal-list li:nth-of-type(1).jeonmun article {
  width: 100%;
  height: 159px;
  align-self: flex-end;
  z-index: 2;
  padding: 0;
  background: linear-gradient(to bottom, transparent 0%, #111111 100%);
}
.main-journal-list li:nth-of-type(1).jeonmun article h4 {
  text-align: center;
  margin-top: 72px;
  font-size: 32px;
  line-height: 1.25;
  color: #fff;
}
.main-journal-list li:nth-of-type(1).jeonmun article .para {
  display: -webkit-box;
  margin-top: 4px;
  padding: 0 60px;
  font-size: 16px;
  line-height: 1.75;
  color: #fff;
  -webkit-line-clamp: 1;
}
.main-journal-list li:nth-of-type(1).jeonmun h5 {
  display: none;
}
.main-journal-list li:nth-of-type(1).jeonmun figure {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.main-journal-list li:nth-of-type(1).sokbo {
  background-color: #111111;
  position: relative;
  height: 300px;
  margin-bottom: 20px;
  padding-bottom: 0;
}
.main-journal-list li:nth-of-type(1).sokbo::after {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -20px;
  position: absolute;
  border-bottom: 1px solid #CCCCCC;
  width: 100%;
}
.main-journal-list li:nth-of-type(1).sokbo article {
  padding-left: 41px;
  z-index: 2;
  width: 380px;
}
.main-journal-list li:nth-of-type(1).sokbo article::before {
  content: "속보";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 32px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.1875;
  color: #fff;
  background-color: #EE5D5D;
  border-radius: 2px;
}
.main-journal-list li:nth-of-type(1).sokbo article h4 {
  font-size: 32px;
  line-height: 1.375;
  color: #fff;
}
.main-journal-list li:nth-of-type(1).sokbo article .para {
  -webkit-line-clamp: 1;
}
.main-journal-list li:nth-of-type(1).sokbo h5 {
  display: none;
}
.main-journal-list li:nth-of-type(1).sokbo .para {
  margin-top: 15px;
  font-size: 16px;
  color: #999999;
}
.main-journal-list li:nth-of-type(1).sokbo figure {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 524px;
  height: 100%;
  background-color: #111111;
}
.main-journal-list li:nth-of-type(1).sokbo figure::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -1px;
  width: 200px;
  height: 100%;
  background: linear-gradient(to left, transparent 0%, #111111 100%);
}
.main-journal-list li:nth-of-type(1) {
  grid-area: header;
  height: auto;
  padding-bottom: 24px;
  border-bottom: 1px solid #e2e2e2;
  align-items: center;
}
.main-journal-list li:nth-of-type(1) article {
  width: calc(100% - 360px);
  padding-right: 24px;
}
.main-journal-list li:nth-of-type(1) article > .para {
  display: -webkit-box;
  margin-top: 20px;
}
.main-journal-list li:nth-of-type(1) article > .sub-arti-para {
  display: -webkit-box;
}
.main-journal-list li:nth-of-type(1) article > h5 {
  display: block;
}
.main-journal-list li:nth-of-type(1) figure {
  display: block;
  width: 360px;
  height: 240px;
}
.main-journal-list li:nth-of-type(n + 2):nth-of-type(-n + 3) {
  width: 270px;
  margin-right: 38px;
  flex-direction: column-reverse;
}
.main-journal-list li:nth-of-type(n + 2):nth-of-type(-n + 3) h4 {
  padding-top: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.44;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.main-journal-list li:nth-of-type(n + 2):nth-of-type(-n + 3) figure {
  display: block;
  width: 270px;
  height: 180px;
}
.main-journal-list li:nth-of-type(2) {
  grid-area: second-1;
  padding: 26px 0;
  border-bottom: 1px solid #e2e2e2;
}
.main-journal-list li:nth-of-type(3) {
  grid-area: second-2;
  padding-top: 28px;
}
.main-journal-list li:nth-of-type(n + 4):nth-of-type(-n + 6) {
  margin-top: 24px;
  width: calc(100% - 108px);
  width: 532px;
}
.main-journal-list li:nth-of-type(n + 4):nth-of-type(-n + 6) article {
  width: calc(100% - 108px);
  padding-right: 20px;
}
.main-journal-list li:nth-of-type(n + 4):nth-of-type(-n + 6) h4 {
  display: -webkit-box;
  font-size: 18px;
  font-weight: 500;
  -webkit-line-clamp: 1;
}
.main-journal-list li:nth-of-type(n + 4):nth-of-type(-n + 6) .para {
  display: -webkit-box;
  margin-top: 4px;
  color: #999;
  -webkit-line-clamp: 2;
}
.main-journal-list li:nth-of-type(n + 4):nth-of-type(-n + 6) figure {
  display: block;
  width: 108px;
  height: 72px;
}
.main-journal-list li:nth-of-type(4) {
  grid-area: third-1;
}
.main-journal-list li:nth-of-type(5) {
  grid-area: third-2;
}
.main-journal-list li:nth-of-type(6) {
  grid-area: third-3;
}
.main-journal-list li:nth-of-type(n + 7):nth-of-type(-n + 12) {
  margin-top: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.main-journal-list li:nth-of-type(n + 7):nth-of-type(-n + 12) h4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
  -webkit-line-clamp: 1;
  color: #111;
}
.main-journal-list li:nth-of-type(7) {
  grid-area: fourth-1;
}
.main-journal-list li:nth-of-type(8) {
  grid-area: fourth-2;
}
.main-journal-list li:nth-of-type(9) {
  grid-area: fourth-3;
}
.main-journal-list li:nth-of-type(10) {
  grid-area: fourth-4;
}
.main-journal-list li:nth-of-type(11) {
  grid-area: fourth-5;
}
.main-journal-list li:nth-of-type(12) {
  grid-area: fourth-6;
}

.main-todaypick > header {
  padding: 23px 0 17px;
}
.main-todaypick > header h2 {
  line-height: 20px;
  font-size: 18px;
  font-weight: 700;
  color: #111;
}
.main-todaypick .main-todaypick-list li {
  padding-bottom: 16px;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
}
.main-todaypick .main-todaypick-list li h3 {
  display: none;
  margin-bottom: 2px;
  font-size: 14px;
  font-weight: 400;
  color: #176c77;
}
.main-todaypick .main-todaypick-list li h4 {
  line-height: 24px;
  font-size: 16px;
  font-weight: 600;
  color: #111;
}
.main-todaypick .main-todaypick-list li figure {
  display: none;
  width: 108px;
  min-width: 108px;
  height: 72px;
}
.main-todaypick .main-todaypick-list li figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-todaypick .main-todaypick-list .house .para {
  font-size: 14px;
  -webkit-line-clamp: 1;
}
.main-todaypick .main-todaypick-list li:nth-of-type(1) h3 {
  display: -webkit-box;
}
.main-todaypick .main-todaypick-list li:nth-of-type(1) figure {
  display: block;
  margin-left: 18px;
}
.main-todaypick .main-todaypick-list li:nth-of-type(n + 2):nth-of-type(-n + 3) {
  padding: 10px 0;
}
.main-todaypick .main-todaypick-list li:nth-of-type(n + 2):nth-of-type(-n + 3) h4 {
  margin-top: 0;
  line-height: 22px;
  font-size: 16px;
  font-weight: 400;
}
.main-todaypick .main-todaypick-list .item {
  padding: 20px 0;
  flex-direction: column-reverse;
}
.main-todaypick .main-todaypick-list .item figure {
  display: block;
  width: 320px;
  height: 213px;
}
.main-todaypick .main-todaypick-list .item h4 {
  display: -webkit-box;
  margin-bottom: 0;
  line-height: 24px;
  font-size: 16px;
  font-weight: 500;
  color: #111;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.main-todaypick .main-todaypick-list .item p {
  display: -webkit-box;
  font-size: 16px;
  -webkit-line-clamp: 1;
}
.main-todaypick .main-todaypick-list .item article {
  margin-top: 10px;
}

.main-issue-aside header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
  margin-bottom: 4px;
}
.main-issue-aside header h3 {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #111111;
}
.main-issue-aside header h3::before {
  content: "이슈";
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 20px;
  margin-right: 6px;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  color: #111111;
  border-radius: 11px;
  border: 1px solid #111111;
}
.main-issue-aside header a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 57px;
  height: 31px;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #999999;
  text-align: center;
  background-color: rgba(255, 18, 18, 0.07);
}
.main-issue-aside .main-issue-aside-list li {
  padding: 19px 0;
  border-bottom: 1px solid #CCCCCC;
}
.main-issue-aside .main-issue-aside-list li > a {
  display: flex;
  align-items: center;
}
.main-issue-aside .main-issue-aside-list li h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #111111;
}
.main-issue-aside .main-issue-aside-list li figure {
  display: none;
  width: 96px;
  height: 64px;
  flex-shrink: 0;
  margin-left: 15px;
}
.main-issue-aside .main-issue-aside-list li:nth-of-type(1) h4 {
  font-size: 17px;
  font-weight: 600;
  line-height: 24px;
  color: #111111;
}
.main-issue-aside .main-issue-aside-list li:nth-of-type(1) figure {
  display: block;
  width: 96px;
  height: 64px;
  flex-shrink: 0;
}
.main-issue-aside .main-issue-aside-list li:last-of-type {
  padding-bottom: 27px;
}

.main-todaypick.weekdays {
  border-top: 1px solid #E2E2E2;
  margin-bottom: 64px;
}
.main-todaypick.weekdays .main-todaypick-list {
  display: grid;
  grid-template-areas: "main   sub1" "main   sub2";
}
.main-todaypick.weekdays .main-todaypick-list .house {
  display: none;
}
.main-todaypick.weekdays .main-todaypick-list li {
  border: none;
}
.main-todaypick.weekdays .main-todaypick-list li:nth-of-type(1) {
  grid-area: main;
  flex-direction: row-reverse;
}
.main-todaypick.weekdays .main-todaypick-list li:nth-of-type(1) h3 {
  margin-bottom: 8px;
  font-weight: 500;
}
.main-todaypick.weekdays .main-todaypick-list li:nth-of-type(1) h4 {
  display: -webkit-box;
  overflow: hidden;
  margin-bottom: 18px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.main-todaypick.weekdays .main-todaypick-list li:nth-of-type(1) figure {
  width: 240px;
  height: 160px;
  margin-right: 16px;
  margin-left: 0;
}
.main-todaypick.weekdays .main-todaypick-list li:nth-of-type(2) {
  margin-left: 32px;
  grid-area: sub1;
  padding: 0;
}
.main-todaypick.weekdays .main-todaypick-list li:nth-of-type(2) h3 {
  display: -webkit-box;
  margin-bottom: 8px;
  font-weight: 500;
}
.main-todaypick.weekdays .main-todaypick-list li:nth-of-type(2) h4 {
  display: -webkit-box;
  overflow: hidden;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.44;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.main-todaypick.weekdays .main-todaypick-list li:nth-of-type(3) {
  margin-left: 32px;
  grid-area: sub2;
  padding: 0;
}
.main-todaypick.weekdays .main-todaypick-list li:nth-of-type(3) h3 {
  display: -webkit-box;
  margin-bottom: 8px;
  font-weight: 500;
}
.main-todaypick.weekdays .main-todaypick-list li:nth-of-type(3) h4 {
  display: -webkit-box;
  overflow: hidden;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.44;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.main-opinion.sokbo header {
  padding: 14.4px 0 23px;
}

.main-opinion.spcial-issue-todaypick {
  margin-top: 575px;
}
.main-opinion.spcial-issue-todaypick_b {
  margin-top: 598px;
}
.main-opinion > header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px 0 16px;
}
.main-opinion > header a {
  text-decoration: none;
}
.main-opinion > header h2 {
  line-height: 20px;
  font-size: 18px;
  font-weight: 700;
  color: #111;
}
.main-opinion > header p {
  color: #999;
}
.main-opinion .main-opinion-list.weekdays li {
  height: 92px;
}
.main-opinion .main-opinion-list.weekdays .house {
  padding: 20px 0;
  flex-direction: column-reverse;
  height: auto;
}
.main-opinion .main-opinion-list.weekdays .house figure {
  display: block;
  border-radius: 0;
  width: 320px;
  height: 213px;
}
.main-opinion .main-opinion-list.weekdays .house h3 {
  display: none;
}
.main-opinion .main-opinion-list.weekdays .house h4 {
  display: -webkit-box;
  margin-bottom: 0;
  line-height: 24px;
  font-size: 16px;
  font-weight: 500;
  color: #111;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.main-opinion .main-opinion-list.weekdays .house p {
  display: -webkit-box;
  font-size: 16px;
  -webkit-line-clamp: 1;
}
.main-opinion .main-opinion-list.weekdays .house article {
  margin-top: 10px;
}
.main-opinion .main-opinion-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #eeeeee;
}
.main-opinion .main-opinion-list li article {
  padding-right: 26px;
}
.main-opinion .main-opinion-list li h3 {
  margin-bottom: 2px;
  font-size: 14px;
  font-weight: 400;
  color: #176c77;
}
.main-opinion .main-opinion-list li h4 {
  display: -webkit-box;
  line-height: 23px;
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
  word-break: keep-all;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.main-opinion .main-opinion-list figure {
  display: none;
  width: 48px;
  height: 48px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: 100%;
  overflow: hidden;
}
.main-opinion .main-opinion-list figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-opinion .main-opinion-list .editoral {
  position: relative;
  border-bottom: 1px solid #eeeeee;
  font-family: "Nanum Myeongjo", serif;
  align-items: flex-start;
  letter-spacing: -0.16px;
}
.main-opinion .main-opinion-list .editoral h3 {
  font-size: 13px;
  font-weight: 800;
  line-height: 1.77;
  color: #176c77;
}
.main-opinion .main-opinion-list .editoral h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4375;
}
.main-opinion .main-opinion-list .editoral::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 18px;
  background: url(../image/icon-quot.svg) no-repeat right top;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.main-opinion .main-opinion-list li:nth-of-type(n + 2):nth-of-type(-n + 11) figure {
  display: block;
}
.main-opinion .main-opinion-list li:last-of-type {
  border: none;
}

.banner-list {
  display: flex;
  gap: 24px;
  padding: 38px 0;
}
.banner-list > li {
  width: 264px;
}
.banner-list > li h3 {
  line-height: 30px;
  font-size: 21px;
  font-weight: 400;
  color: #111;
  margin-bottom: 10px;
}
.banner-list > li h4 {
  margin-top: 12px;
  max-width: 264px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.44;
  color: #111;
}
.banner-list > li .sub-detail {
  margin-top: 4px;
  line-height: 26px;
  font-size: 14px;
  font-weight: 400;
  color: #666;
}
.banner-list figure {
  width: 100%;
  height: 176px;
}
.banner-list figure > img {
  width: 100%;
  height: 100%;
}
.banner-list .cartoon figure {
  height: 212px;
}
.banner-list .cartoon figure > img {
  max-width: 264px;
  height: 212px;
}
.banner-list .cartoon .para {
  margin-top: 6px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.86;
  color: #666;
}
.banner-list .ad {
  display: flex;
  align-items: center;
  margin-left: 16px;
  width: 320px;
}
.banner-list .ad figure {
  width: 300px;
  height: 240px;
}
.banner-list .ad figure > img {
  width: 300px;
  height: 240px;
}

.main-focus {
  margin-top: 64px;
  border-top: 1px solid #111;
}
.main-focus > header {
  display: flex;
  justify-content: space-between;
  padding: 16px 0 20px;
}
.main-focus > header h2 {
  display: flex;
  line-height: 20px;
  font-size: 21px;
  font-weight: 400;
  color: #111;
}
.main-focus > header a {
  margin-left: auto;
  font-size: 14px;
  font-weight: 400;
  color: #999;
}
.main-focus .focus-content-wrap {
  display: flex;
}
.main-focus .focus-content-wrap .focus-left-list {
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 29px;
}
.main-focus .focus-content-wrap .focus-left-list > li {
  display: flex;
  align-items: center;
}
.main-focus .focus-content-wrap .focus-left-list > li h3 {
  display: none;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 500;
  color: #a27a5d;
}
.main-focus .focus-content-wrap .focus-left-list > li h4 {
  display: none;
  overflow: hidden;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
  color: #111;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.main-focus .focus-content-wrap .focus-left-list > li p {
  display: none;
  margin-top: 18px;
  line-height: 22px;
  font-size: 14px;
  font-weight: 400;
  color: #999;
}
.main-focus .focus-content-wrap .focus-left-list > li article {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
}
.main-focus .focus-content-wrap .focus-left-list > li figure {
  width: 256px;
  min-width: 256px;
  height: 170px;
}
.main-focus .focus-content-wrap .focus-left-list > li figure > img {
  width: 100%;
  height: 100%;
}
.main-focus .focus-content-wrap .focus-left-list li:nth-of-type(1) h3 {
  display: -webkit-box;
}
.main-focus .focus-content-wrap .focus-left-list li:nth-of-type(1) h4 {
  display: -webkit-box;
}
.main-focus .focus-content-wrap .focus-left-list li:nth-of-type(1) p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
}
.main-focus .focus-content-wrap .focus-left-list li:nth-of-type(2) figure {
  flex-shrink: 0;
  width: 120px;
  min-width: 120px;
  height: 80px;
}
.main-focus .focus-content-wrap .focus-left-list li:nth-of-type(2) h4 {
  display: -webkit-box;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.44;
}
.main-focus .focus-content-wrap .focus-right-list {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-left: auto;
}
.main-focus .focus-content-wrap .focus-right-list > li {
  height: 33.3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.main-focus .focus-content-wrap .focus-right-list > li h3 {
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 500;
  color: #a27a5d;
}
.main-focus .focus-content-wrap .focus-right-list > li h4 {
  line-height: 1.44;
  font-size: 18px;
  font-weight: 500;
  color: #111;
}
.main-focus .focus-content-wrap .focus-right-list li:nth-of-type(n + 1):nth-of-type(-n + 2) {
  border-bottom: 1px solid #e2e2e2;
}

.main-zoomin {
  margin-top: 0;
}
.main-zoomin .zoomin-content {
  display: flex;
  justify-content: space-between;
}
.main-zoomin .zoomin-content .zoomin-rep {
  position: relative;
  max-width: 480px;
  height: 320px;
}
.main-zoomin .zoomin-content .zoomin-rep > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-zoomin .zoomin-content .zoomin-rep > figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 96px;
  padding: 0 20px;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
}
.main-zoomin .zoomin-content .zoomin-rep > figcaption .count {
  width: 30px;
  height: 30px;
  background: url(../image/icon-zoomin-cnt.svg) no-repeat center;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 1, 2, 0.8);
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 2.33;
  padding-right: 0.4em;
  position: absolute;
  top: 22px;
  right: 20px;
}
.main-zoomin .zoomin-content .zoomin-rep > figcaption .fig-header {
  display: flex;
  justify-content: space-between;
}
.main-zoomin .zoomin-content .zoomin-rep > figcaption h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  padding-right: 50px;
}
.main-zoomin .zoomin-content .zoomin-rep > figcaption p {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.86;
  color: #999;
}
.main-zoomin .zoomin-content .zoomin-list {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  justify-content: space-between;
  width: 325px;
}
.main-zoomin .zoomin-content .zoomin-list li {
  max-width: 150px;
}
.main-zoomin .zoomin-content .zoomin-list .active figure {
  position: relative;
}
.main-zoomin .zoomin-content .zoomin-list .active figure::before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
}
.main-zoomin .zoomin-content .zoomin-list .active figure > img {
  border: 3px solid #25a594;
}
.main-zoomin .zoomin-content .zoomin-list button {
  cursor: pointer;
}
.main-zoomin .zoomin-content .zoomin-list figure {
  width: 100%;
  max-width: 150px;
  height: 100px;
}
.main-zoomin .zoomin-content .zoomin-list figure > img {
  display: block;
  width: 100%;
  height: 100%;
}
.main-zoomin .zoomin-content .zoomin-list h4 {
  display: -webkit-box;
  overflow: hidden;
  min-height: 48px;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #111;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: left;
}
.main-zoomin .zoomin-content .zoomin-list figcaption {
  font-family: "Pretendard Variable";
  display: -webkit-box;
  overflow: hidden;
  min-height: 48px;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #111;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: left;
}
.main-zoomin .zoomin-content .zoomin-list li:nth-of-type(n + 3):nth-of-type(-n + 4) {
  margin-top: 12px;
}

.main-liveissue {
  border-top: 1px solid #111;
  margin-top: 64px;
}
.main-liveissue > header h2 {
  position: relative;
  padding-top: 16px;
  line-height: 1;
  font-size: 20px;
  font-weight: 600;
  color: #111;
  text-transform: uppercase;
}
.main-liveissue > header h2::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 103px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #e63b3b;
  -webkit-animation-name: blinkDot;
  animation-name: blinkDot;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  will-change: opacity;
}
.main-liveissue .live-list > li {
  padding: 20px 0;
}
.main-liveissue .live-list > li header {
  display: flex;
}
.main-liveissue .live-list .related {
  margin-top: 6px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main-liveissue .live-list .related::before {
  content: "";
  height: 100%;
  display: inline-block;
  width: 1px;
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 254px;
  background: #e2e2e2;
  z-index: 2;
}
.main-liveissue .live-list figure {
  display: none;
  margin-top: 12px;
  height: 212px;
}
.main-liveissue .live-list h3 {
  width: 192px;
  line-height: 20px;
  font-size: 16px;
  font-weight: 700;
  color: #353535;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main-liveissue .live-list h3::before {
  content: "#";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 4px;
}
.main-liveissue .live-list h4 {
  display: -webkit-box;
  overflow: hidden;
  position: relative;
  width: calc(100% - 65px);
  padding-right: 20px;
  margin-top: 6px;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  color: #353535;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.main-liveissue .live-list p {
  width: 64px;
  display: block;
  padding: 15px 4px 0 4px;
  margin-top: -20px;
  font-size: 12px;
  font-weight: 400;
  color: #999;
  text-align: center;
  position: relative;
  white-space: nowrap;
  letter-spacing: -0.14px;
}
.main-liveissue .live-list p > a {
  width: 56px;
}
.main-liveissue .live-list p .count {
  display: block;
  margin-top: 4px;
  font-size: 16px;
  font-weight: 500;
  color: #ee5d5d;
}
.main-liveissue .live-list li:nth-of-type(n + 1):nth-of-type(-n + 2) figure {
  display: block;
}
.main-liveissue .live-list li:nth-of-type(n + 2):nth-of-type(-n + 3) {
  padding: 14px 0;
  border-bottom: 1px solid #e2e2e2;
}
.main-liveissue .live-list li:nth-of-type(n + 1):nth-of-type(-n + 3) {
  border-bottom: 1px solid #e2e2e2;
}
.main-liveissue .live-list li:last-of-type {
  padding-bottom: 0;
}
.main-liveissue .live-list li:last-of-type p {
  margin-top: -20px;
}

.video-section {
  margin-top: 64px;
  flex-direction: column;
  padding: 30px 60px 55px;
}
.video-section > header {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 20px;
  line-height: 20px;
  font-size: 21px;
  font-weight: 400;
  color: #111;
}
.video-section > header h2 {
  font-weight: 400;
}
.video-section > header a {
  font-size: 14px;
  font-weight: 400;
  color: #999;
}

.video-list {
  display: flex;
  justify-content: center;
  gap: 32px;
  max-width: 1200px;
  width: 1200px;
  margin: 0 auto;
}
.video-list li figure {
  position: relative;
  width: 100%;
  height: 153px;
}
.video-list li figure .icon-box {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 48px;
  height: 60px;
  background: url(../image/play-button-gra.png) no-repeat right bottom;
  background-size: 100%;
}
.video-list li figure .icon-box::after {
  content: "";
  display: inline-block;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 29px;
  height: 29px;
  background: url(../image/icon-play.svg) no-repeat center;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.video-list li figcaption {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 12px;
}
.video-list li figcaption h3 {
  width: 48px;
  height: 48px;
  background: #eee;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border: 1px solid #e2e2e2;
  border-radius: 100%;
  overflow: hidden;
}
.video-list li figcaption h3 > img {
  width: 100%;
}
.video-list li figcaption h4 {
  display: -webkit-box;
  line-height: 26px;
  font-size: 18px;
  font-weight: 500;
  color: #111;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.main-section {
  width: 100%;
  margin-top: 64px;
  border-top: 1px solid #111;
}
.main-section > header h2 {
  display: flex;
  padding: 16px 0 20px;
  line-height: 20px;
  font-size: 21px;
  font-weight: 400;
  color: #111;
}
.main-section .section-contents {
  display: grid;
  grid-template-columns: repeat(5, 224px);
  gap: 20px;
}
.main-section .section-contents header {
  display: flex;
  justify-content: space-between;
}
.main-section .section-contents header h3 {
  line-height: 24px;
  font-size: 16px;
  font-weight: 700;
  color: #111;
}
.main-section .section-contents header a {
  width: 18px;
  height: 18px;
  background: url(../image/icon-more2.svg) no-repeat center;
}
.main-section .section-contents .section-list li {
  padding: 12px 0 8px;
  min-height: 70px;
}
.main-section .section-contents .section-list li figure {
  width: 224px;
  height: 131px;
}
.main-section .section-contents .section-list li h4 {
  padding-top: 12px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.025em;
  line-height: 26px;
  color: #111;
}
.main-section .section-contents .section-list li h5 {
  color: #666;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
}
.main-section .section-contents .section-list li h6 {
  color: #666;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
}
.main-section .section-contents .section-list li:nth-of-type(n + 1):nth-of-type(-n + 2) {
  border-bottom: 1px solid #e2e2e2;
}
.main-section .section-contents .section-list li:nth-of-type(2) {
  padding-top: 12px;
  padding-bottom: 8px;
}
.main-section .section-contents .section-list li:nth-of-type(2) h4 {
  padding-top: 0;
  color: #666;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
}
.main-section .section-contents .section-list li:nth-of-type(3) {
  padding-top: 12px;
  padding-bottom: 8px;
}
.main-section .section-contents .section-list li:nth-of-type(3) h4 {
  padding-top: 0;
  color: #666;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
}
.main-section .section-contents .section-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.main-section .section-contents .section-wrap:nth-of-type(n + 6):nth-of-type(-n + 10) {
  margin-top: 8px;
}
.main-section .section-contents .section-location header .specific-location {
  position: relative;
  padding-left: 10px;
  margin-left: 11px;
  display: inline-block;
  font-weight: 400;
  font-size: 15px;
  font-style: normal;
  color: #666;
}
.main-section .section-contents .section-location header .specific-location::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  width: 1px;
  height: 12px;
  margin-top: -6px;
  background: #d8d8d8;
}

.main-careful {
  flex: 1;
}
.main-careful ol {
  counter-reset: item;
}
.main-careful ol li {
  display: flex;
  align-items: center;
  counter-increment: item;
}
.main-careful ol li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.main-careful ol li a:before {
  display: inline;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  color: #111;
  text-align: center;
  content: counter(item);
}
.main-careful ol li a h4 {
  display: -webkit-box;
  overflow: hidden;
  margin: auto 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4444;
  color: #111;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.main-careful ol li a figure {
  min-width: 96px;
  width: 96px;
  height: 64px;
}
.main-careful ol li:nth-of-type(1) {
  height: 68px;
}
.main-careful ol li:not(li:nth-of-type(1)) {
  margin-top: 16px;
}
.main-careful ol li:not(li:nth-of-type(1)) h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3125;
  color: #111;
}

.main-current-hot {
  flex: 1;
}
.main-current-hot ul li {
  height: 68px;
}
.main-current-hot ul li:not(li:nth-of-type(1)) {
  margin-top: 16px;
}
.main-current-hot ul li a {
  display: flex;
  gap: 20px;
  align-items: center;
}
.main-current-hot ul li h4 {
  display: -webkit-box;
  overflow: hidden;
  margin: auto 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.44;
  color: #111;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.main-current-hot ul li figure {
  min-width: 96px;
  width: 96px;
  height: 64px;
}

.main-interest {
  flex: 1;
}
.main-interest > article figure {
  display: flex;
  flex-direction: row-reverse;
}
.main-interest > article figure > img {
  min-width: 96px;
  width: 96px;
  height: 64px;
}
.main-interest > article h4 {
  padding-right: 14px;
  margin: auto 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4444;
  color: #111;
}
.main-interest > article .para {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.53;
  color: #999;
  -webkit-line-clamp: 6;
}

.newsletter-section {
  flex-direction: column;
  margin-top: 64px;
  border-top: 1px solid #111;
}
.newsletter-section > .arti-header {
  padding-top: 18px;
}
.newsletter-section > .arti-header h2 {
  line-height: 26px;
}
.newsletter-section .newsletter-list {
  display: grid;
  grid-template-columns: repeat(3, 320px);
  gap: 26px 96px;
}
.newsletter-section .newsletter-list li figure {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}
.newsletter-section .newsletter-list li figure > img {
  width: 64px;
  height: 64px;
}
.newsletter-section .newsletter-list li figure figcaption {
  display: flex;
  flex-direction: column;
  padding-right: 16px;
}
.newsletter-section .newsletter-list li figure figcaption h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.17;
  color: #111;
}
.newsletter-section .newsletter-list li figure figcaption p {
  margin-top: 4px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.53;
}
.newsletter-section .newsletter-list li figure figcaption time {
  margin-top: 8px;
  letter-spacing: -0.01em;
  word-spacing: 0.02em;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  color: #02a37f;
}

.notice-arti {
  gap: 52px;
  margin-top: 64px;
}

.notice {
  display: flex;
  flex: 1;
  border-top: 1px solid #111;
}
.notice > header {
  width: 150px;
  height: 100%;
  padding-top: 20px;
}
.notice > header h2 {
  line-height: 20px;
  font-size: 21px;
  font-weight: 400;
  color: #111;
  margin-bottom: 10px;
}
.notice > header > a {
  margin-left: 0;
  margin-right: auto;
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  color: #999;
}
.notice ul {
  flex: 1;
  margin-top: 4px;
}
.notice ul li {
  display: flex;
  align-items: center;
  height: 56px;
  border-bottom: 1px solid #e2e2e2;
}
.notice ul li h4 {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #111;
}

/*# sourceMappingURL=styles.css.map */
